html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: url("murphys-new-background.jpeg") no-repeat center center fixed;
  background-size: cover;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}



#topMenu {
  background-color: #1B4F24;
  color: white;
  padding-bottom: 15px;
}

#centerText {
  color: white;
  height: 500px;
}

#bottomMenu {
  background-color: #1B4F24;
  color: white;
}

div.nav-item.nav-link {
  color: white;
}

.nav-link {
  color: white;
}

/*:root {*/
/*  --bs-link-color: white;*/
/*}*/

